/*общие стили*/
html { 
	-webkit-box-sizing: border-box; 
	        box-sizing: border-box;  
}

*, *::before, *::after { 
	-webkit-box-sizing: inherit; 
	        box-sizing: inherit;
}

body {
	margin: 0 auto;
	padding: 0;

	font-family: "PT Sans", "Cuprum", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;

	color: #000000;
	background-color: #ffffff;
}

a {
	text-decoration: none;

	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
}

.button {
	/*display: inline-block;*/
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;

	color: #ffffff;
	background-color: #ee3643;

	border-radius: 3px;
	border: none;
}

.button:hover {
	background-color: #ae2f39;
}

.button:active {
	background-color: #a02c35;	
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	-webkit-clip-path: inset(100%);

	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*стили для хедера*/

.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	padding-bottom: 60px;

	font-family: "Cuprum", "Arial", sans-serif;

	background-color: #f3f6f8;
}

.top-line, .main-nav {
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
}

.header .logo-technomart {
	position: absolute;
	left: 0;
}

.top-line-wrapper {
	width: 100%;
	background-color: #30374a;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.top-line-wrapper .container {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.logo-technomart {
	display: inline-block;
	padding: 13px 56px;
	width: 220px;
	height: 47px;

	background-color: #cd3944;
	-webkit-box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.24);
	        box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.24);
}

.logo-technomart:hover {
	background-color: #ae2f39;
	-webkit-box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.24);
	        box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.24);
}

.logo-technomart:active {
	background-color: #a02c35;
	-webkit-box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.24);
	        box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.24);
}

.form-search {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	position: relative;
	width: 270px;
}

.search-field {
	width: 100%;
	padding: 10px;
	padding-left: 0;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	line-height: 18px;

	background-color: #30374a;
	border: none;
}

.search-field[type="search"]::-webkit-input-placeholder {
	color: #ffffff; 
}

.search-field[type="search"]:-ms-input-placeholder {
	color: #ffffff; 
}

.search-field[type="search"]::-ms-input-placeholder {
	color: #ffffff;
}

.search-field[type="search"]::placeholder {
	color: #ffffff;
}

.search-field:hover,
.search-button:hover {
	color: #ffffff;
	background-color: #282e3c;
	border: none;
}

.search-field:focus {
	color: #000000;
	background-color: #ffffff;
}

.search-button {
	-webkit-box-ordinal-group: 0;
	    -ms-flex-order: -1;
	        order: -1;
	padding: 0px 14px 0 17px;

	color: rgba(255, 255, 255, 0.3);
	background-color: #30374a;
	border: none;
}

.search-button:active {
	color: rgba(255, 255, 255, 0.3);
}

.search-field:focus + .search-button {
	color: #cd3944;
	background-color: #ffffff;
}

.cart-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	width: 450px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.cart-item {
	display: block;
	position: relative;
	width: 150px;
	padding: 12px 20px;

	vertical-align: middle;

	color: #ffffff;
}

.bookmarks {
	padding-left: 44px;
}

.bookmarks::before {
	content: "";

	position: absolute;
	left: 17px;

	width: 14px;
	height: 16px;

	background: url("../img/icon-bookmark.svg") no-repeat;
	opacity: 0.3;
}

.basket {
	padding-left: 50px;
}

.basket::before {
	content: "";

	position: absolute;
	left: 18px;

	width: 15px;
	height: 15px;

	background: url("../img/icon-cart.svg") no-repeat;
	opacity: 0.3;
}

.bookmarks:hover::before,
.basket:hover::before {
	opacity: 1;
}

.bookmarks:active::before,
.basket:active::before {
	opacity: 0.5;
}

.cart-item:hover {
	background-color: #282e3c;
}

.cart-item:active {
	background-color: #1f232d;
	color: rgba(255, 255, 255, 0.6);
}

.cart-list .active{
	background-color: #cd3944;
}

.cart-item.chechout{
	background-color: #7aa448;
}

.cart-item.chechout:hover{
	background-color: #81ba3f;
}

.cart-item.chechout:active{
	background-color: #63843d;
}

.main-nav {
	background-color: #3a445b;
		-webkit-box-shadow: inset 0 -5px 0 0 #30374a;
	        box-shadow: inset 0 -5px 0 0 #30374a;
}

.main-nav-list {
	display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.main-nav-item {
	display: block;
	padding: 20px 30px 23px;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	line-height: 17px;

	text-align: center;
	color: #ffffff;
}

.main-nav-item:hover {
	color: #ffffff;
	background-color: #31374a;
}

.main-nav-item:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #252b3b;
}

.info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	padding-top: 46px;
	padding-bottom: 38px;
}

.caption {
	width: 226px;
	margin: 0;
	margin-left: 52px;
	margin-right: 55px;
	padding-top: 3px;
	padding-right: 10px;

	font-family: "Cuprum", "Arial", sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;

	color: #cd3944;
}

.info-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	width: 270px;
	margin: 0;
	margin-right: 68px;

	font-size: 14px;
	line-height: 24px;

	color: #3a445b;
}

.info-text-catalog {
	margin-right: 51px;
}

.info-phone {
	position: relative;

	width: 270px;

	margin-bottom: 3px;
	padding: 10px;
	padding-left: 70px;
	padding-right: 50px;

	font-size: 21px;
	line-height: 21px;

	color: #cd3944;
	border: 3px solid #FFFFFF;
}

.info-phone::before {
	content: "";

	position: absolute;

	left: 12px;
	top: 12px;

	width: 19px;
	height: 19px;

	background: url(../img/icon-phone.svg);
}

.user-menu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;

	width: 300px;

	margin: 0;
	padding: 0;

	list-style: none;
}

.user-menu-link {
	position: relative;
	display: block;

	padding: 12px 25px;

	font-size: 21px;
	line-height: 21px;

	color: #000000;
	background-color: #ffffff;
}

.user-menu-item {
	margin-bottom: 5px;
}

.user-menu-item-icon {
	-ms-flex-item-align: stretch;
	    -ms-grid-row-align: stretch;
	    align-self: stretch;
}

.user-menu-link:hover,
.user-nav-link:hover,
.login-btn:hover {
	color: #cd3944;
}

.user-name-btn:hover {
	color: #000000;
}

.user-menu-link:active,
.user-nav-link:active,
.login-btn:active {
	color: rgba(0, 0, 0, 0.3);
}

.login-btn {
	margin-right: 9px;
	padding-left: 48px;
}

.user-name-btn {
	padding-left: 46px;
}

.logout-btn {
	height: 100%;

	padding-right: 0;
	padding-left: 42px;
}

.login-btn-svg {
	position: absolute;
	top: 14px;
	left: 16px;

	color: #c4c4c4;	
}

.user-name-btn-svg {
	position: absolute;

	left: 13px;
	top: 13px;

	color: #c4c4c4
}

.logout-btn-svg {
	position: absolute;

	left: 12px;
	top: 14px;

	color: #c4c4c4
}

.login-btn:hover .login-btn-svg,
.logout-btn:hover .logout-btn-svg,
.user-name-btn:hover .user-name-btn-svg {
	color: #32425c;
}

.login-btn:active .login-btn-svg,
.logout-btn:active .logout-btn-svg,
.user-name-btn:active .user-name-btn-svg  {
	color: #e4e4e4;
}

.user-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;

	margin: 0;
	margin-left: 17px;
	margin-bottom: -1px;
	padding: 0;

	list-style: none;
}

.user-nav-link {
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;

	color: #3a445b;
}

.user-nav-item:not(:first-child) {
	position: relative;
	margin-left: 15px;
	padding-left: 17px;
}

.user-nav-item:not(:first-child)::before {
	content: "";
	position: absolute;
	left: 0;
	top: 10px;
	width: 4px;
	height: 4px;
	background-color: #3a445b;
	border-radius: 50%;
}

.sing-out svg {
	fill: #c4c4c4;
}

.sing-out svg:hover {
	fill: #3a445b;
}

.sing-out svg:active {
	fill: #c4c4c4;
}

.user-nav-item:hover {
	color: #cd3944;
}

.user-nav-item:active {
	color: #3a445b;
	opacity: 0.3;
}

/*стили для основного контента на главной странице*/

.promo {
	padding-top: 59px;
	padding-bottom: 53px;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;

	color: #ffffff;
}

.promo-button {
	display: inline-block;
	margin: 0;
	margin-left: 2px;
	margin-top: 13px;
	width: 135px;
	padding: 10px;
	vertical-align: middle;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
}

.promo-button:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.promo-button:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.promo-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	margin: 0;
	padding: 0;
	list-style: none;
}

.promo-item {
	position: relative;

	padding: 21px 22px;
	width: 300px;
	height: 123px;	
}

.promo-item:not(:nth-child(-n+3)){
	margin-top: 20px;
}

.promo .materials {
	background: url(../img/icon-1.svg) 213px 50% no-repeat #efbe52;
}

.promo .tools {
	background: url(../img/icon-2.svg) 197px 50% no-repeat #73bae1;
}

.promo .technics {
	background: url(../img/icon-3.svg) 191px 50% no-repeat #c990d5;
}

.promo .sale {
	background: url(../img/icon-4.svg) 196px 50% no-repeat #a5d691;
}

.promo .delivery {
	margin-left: auto;
	margin-top: -123px;

	background: url(../img/icon-5.svg) 191px 50% no-repeat #efbe52;
}

.promo-title {
	margin: 0;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;

	color: #ffffff;	
}

.slider {
	position: relative;

	width: 620px;
	height: 266px;
	padding: 0;

	/*background-color: #b7babb;*/
}

.slider-controls {
	position: absolute;
	left: 292px;
	bottom: 39px;
	z-index: 3;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

	width: 36px;
	height: 10px;

	text-align: center;
	font-size: 0;
}

.slider-controls label {
	position: relative;

	display: inline-block;
	width: 10px;
	height: 10px;
	padding: 8px;

	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label::after {
	content: "";

	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	width: 10px;
	height: 10px;

	background: #ffffff;

	border-radius: 50%;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 100%;
	height: 100%;
	margin: 0;
	padding: 24px;
	padding-bottom: 21px;
}

#slider-prev:checked~.slide-hummer, 
#slider-next:checked~.slide-drill {
	z-index: 2;
}

#slider-prev:checked~.slider-controls .slider-controls-item-1::before,
#slider-next:checked~.slider-controls .slider-controls-item-2::before {
	content: "";

	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 10;

	width: 6px;
	height: 6px;
	margin: -3px;

	background-color: #cd3944;
	border-radius: 50%;
}

.slider-nav-prev::before {
	content: "";

	position: absolute;
	top: 114px;
	left: 25px;
	z-index: 10;

	width: 22px;
	height: 40px;

	background: url(../img/icon-left.svg) no-repeat 0 0;


	cursor: pointer;
}

.slider-nav-next::before {
	content: "";

	position: absolute;
	top: 114px;
	right: 20px;
	z-index: 10;

	width: 22px;
	height: 40px;

	background: url(../img/icon-right.svg) no-repeat 0 0;

	cursor: pointer;
}

.slider-title {
	margin: 0;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;

	color: #ffffff;
}

.slider-text {
	margin: 0;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;

	color: #ffffff;
}

.slider-img {
	position: absolute;

	top: 0;
	left: 0;
	z-index: -1;
}

.slider-btn {
	display: block;

	width: 195px;

	padding: 10px 14px 10px 20px;
}

.popular-goods {
	padding-bottom: 21px;
}

.popular-goods-title, .manufacturers-title {
	margin: 0;
	margin-top: 5px;
	margin-left: 4px;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;

	color: #3a445b;
}

.popular-goods-btn {
	padding: 10px 55px;
}

.popular-goods-box, .manufacturers-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	margin-bottom: 21px;
	padding: 25px 24px;

	background-color: #f8f5f0;
}

.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.catalog-list-product {
	padding-top: 20px;
	padding-bottom: 52px;
}

.catalog-item {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	width: 220px;

	margin: 0;
	margin-top: 20px;
	margin-left: 20px;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;

	border: 1px solid #eaeaea;
}

.popular-catalog-item:nth-child(-n+4),
.manufacturers-item:nth-child(-n+4),
.catalog-item-product:nth-child(-n+3) {
	margin-top: 0px;
}

.popular-catalog-item:nth-child(4n+1),
.manufacturers-item:nth-child(4n+1),
.catalog-item-product:nth-child(3n+1) {
	margin-left: 0;
}

.new:before {
	content: "";

	position: absolute;
	top: -1px;
	right: -1px;
	z-index: 10;

	width: 60px;
	height: 59px;

	background: url(../img/new-flag.png) no-repeat 0 0;
}

.catalog-item-img {
	width: 218px;
	height: 170px;

	margin-bottom: 10px;

	background-color: #ffffff;
}

.catalog-item .action {
	position: absolute;
	top: 0;
	left: 0;

	width: 218px;
	height: 160px;
	padding: 42px;

	background-color: #ffffff;
}

.catalog-item .action {
	display: none;
}

.catalog-item:hover .action {
	display: block;
}

.cart-btn {
	display: block;
	position: relative;

	padding: 11px 11px 10px 13px;
	margin-bottom: 8px;

	color: #ffffff;
	background-color: #7aa448;
	-webkit-box-shadow: inset 0 -3px 0 0 #4f7225;
	        box-shadow: inset 0 -3px 0 0 #4f7225;
}

.cart-btn::before {
	content: "";

	position: absolute;
	top: 12px;
	left: 12px;

	width: 15px;
	height: 15px;

	background: url(../img/icon-cart.svg) no-repeat 0 0;
	opacity: 0.3;
}

.cart-btn:hover::before,
.cart-btn:active::before {
	opacity: 1;
}

.cart-btn:hover {
	background-color: #81ba3f;
	-webkit-box-shadow: inset 0 -3px 0 0 #4f7225;
	        box-shadow: inset 0 -3px 0 0 #4f7225;
}

.cart-btn:active {
	background-color: #63843d;
}

.bookmate-btn {
	display: block;

	padding: 8px 16px 6px 19px;

	color: #3a445b;
	background-color: #ffffff;
	border: 3px solid #63843d;
}

.bookmate-btn:hover {
	background-color: #ffffff;
	border: 3px solid #3a445b;
}

.bookmate-btn:active {
	background-color: #ffffff;
	opacity: 0.3;
}

.catalog-item:hover {
	-webkit-box-shadow: 0 10px 25px 0 rgba(41,52,73,0.50);
	        box-shadow: 0 10px 25px 0 rgba(41,52,73,0.50);
}

.catalog-item-title {
	margin: 0;
	margin-bottom: 10px;
	padding: 0 20px;

	font-size: 18px;
	line-height: 20px;
}

.catalog-item-title a {
	color: #000000;
}

.price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	margin: 0;
	margin-bottom: 20px;
}

.old-price {
	min-height: 20px;
	margin-bottom: 8px;

	font-size: 17px;
	line-height: 18px;
	text-decoration: line-through;

	color: #a8a8a8;
}

.catalog-item-btn {
	margin-left: 10px;
	padding-top: 10px; 
	padding-right: 44px; 
	padding-bottom: 10px; 
	padding-left: 36px;

	font-size: 17px;
	line-height: 18px;

	color: #ffffff;
	background:  url(../img/red-button.svg) no-repeat;
}

.manufacturers {
	padding-bottom: 85px;
}

.manufacturers-btn {
	padding: 10px 69px;
}

.manufacturers-box img {
	background-color: #ffffff;
}

.manufacturers-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.manufacturers-item {
	margin-top: 20px;
	margin-left: 20px;

	border: 1px solid #eaeaea;
}

.manufacturers-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	width: 218px;
	height: 143px;
}

.manufacturers-item:hover {
	-webkit-box-shadow: 0 10px 25px 0 rgba(41,52,73,0.50);
	        box-shadow: 0 10px 25px 0 rgba(41,52,73,0.50);
}

.manufacturers-item:active {
	opacity: 0.3;
	-webkit-box-shadow: 0 4px 10px 0 rgba(41,52,73,0.50);
	        box-shadow: 0 4px 10px 0 rgba(41,52,73,0.50);
}

.services {
	background-color: #f5f8f9;
}

.services .container {
	padding-top: 65px;
	padding-bottom: 26px;
}

.services-title, .location-title, .description-title {
	margin: 0;
	margin-bottom: 26px;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.services-text {
	margin: 0;
	padding-right: 525px;

	font-size: 13px;
	line-height: 24px;

	color: #000000;
}

.service-tab-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	padding-top: 67px;
}

.service-tab-list {
	position: relative;

	width: 240px;
}

.service-tab-list::after {
	content: "";
	position: absolute;

	top: -40px;
	right: 0;

	width: 10px;
	height: 281px;

	background: url(../img/shadow.png) no-repeat;
}

.service-tab-item {
	display: block;

	padding: 14px 22px 16px;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;

	color: #ffffff;
	background-color: #3a445b;
	border-top: 1px solid #475168;
	border-bottom: 1px solid #30374a;
}

#tab-credit:checked~.service-tab-list label[for=tab-credit],
#tab-delivery:checked~.service-tab-list label[for=tab-delivery],
#tab-guarantee:checked~.service-tab-list label[for=tab-guarantee] {
	color: #3a445b;
	background-color: #ffffff;
	border-color: #ffffff;
}

.service-tab-item:hover {
	color: #ffffff;
	background-color: #30374a;	
	border-top: 1px solid #475168;
	border-bottom: 1px solid #30374a;
}

.services-list {
	margin: 0;
	padding: 0;

	width: 620px;

	list-style: none;
}

.service-item {
	display: none;
	width: 700px;
	min-height: 260px;
}

#tab-credit:checked~.services-list .service-item-credit, 
#tab-delivery:checked~.services-list .service-item-delivery, 
#tab-guarantee:checked~.services-list .service-item-guarantee {
	display: block;
}

.service-item-delivery {
	background: url(../img/delivery.png) no-repeat 151px 25px;
}

.service-item-guarantee {
	background: url(../img/guarantee.png) no-repeat 239px 3px;
}

.service-item-credit {
	background: url(../img/credit.png) no-repeat 165px 0px;
}

.service-item-title {
	margin: 0;
	margin-bottom: 24px;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
	text-transform: uppercase;

	color: #3a445b;
}

.service-item-description {
	margin: 0;
	padding-right: 250px;
}

.service-item-btn {
	display: block;

	width: 195px;

	margin-top: 30px;
	padding: 10px 20px;
}

.container-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	padding-top: 79px;
	padding-bottom: 85px;
}

.description-index {
	width: 550px;
}

.description-title, .location-title {
	margin: 0;
	margin-bottom: 26px;
}

.description-text {
	margin: 0;
	margin-bottom: 24px;
}

.description-text:nth-child(3) {
	margin-bottom: 21px;
}

.description-list {
	margin: 0;
	margin-bottom: 37px;
	padding: 0;
	padding-left: 36px;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 19px;
	list-style-type: none;

	color: #000000;
}

.description-item {
	position: relative;
}

.description-item:not(:last-child) {
	margin-bottom: 21px;
}

.description-item::before {
	content: "";
	position: absolute;
	bottom: 8px;
	left: -36px;
	width: 25px;
	height: 2px;
	background-color: #cd3944;
}

.description-btn {
	display: inline-block;
	padding: 10px 40px;
}

.location {
	width: 300px;
}

.location-text {
	margin-bottom: 31px;
}

.location-img {
	display: block;

	width: 300px;
	height: 158px;

	margin-bottom: 40px;

	background-color: #ebe7e4;
}

.location-btn {
	display: inline-block;

	padding: 11px 59px 10px 64px;
}

/*стили для основного контента на странице каталога*/

.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	padding: 18px 0;

	list-style: none;
}

.breadcrumbs-link {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;

	color: #000000;	
}

.breadcrumbs-item:not(:first-child) {
	position: relative;

	margin-left: 15px;
	padding-left: 25px;
}

.breadcrumbs-item:not(:first-child)::before {
	content: "";

	position: absolute;

	left: -1px;
	top: 7px;

	width: 8px;
	height: 8px;

	-webkit-box-shadow: 1px 1px 0 0 #c5c9d1;

	        box-shadow: 1px 1px 0 0 #c5c9d1;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.catalog-title {
	margin: 0;
	padding: 29px 28px;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;

	color: #3a445b;		
	background-color: #f3f6f8;
}

.catalog-columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	padding-top: 20px;
	padding-bottom: 60px;
}

.catalog-filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	width: 220px;
}

.filter-title {
	margin: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;

	color: #000000;		
	background-color: #f5f2ec;
}

.catalog-filter-title {
	padding: 10px 19px;

	border-radius: 2px;
}

.filter-fieldset {
	position: relative;

	margin: 0;
	margin-top: 16px;
	padding: 0;
	padding-bottom: 27px;

	border: none;
}

.filter-fieldset-range {
	margin-top: 11px;
}

.filter-fieldset-range::after,
.filter-fieldset-checkbox::after {
	content: "";

	position: absolute;
	bottom: 0;
	left: 0;

	width: 220px;
	height: 1px;

	background-color: #e4e4e4;
}

.filter-legend {
	margin: 0;
	margin-bottom: 14px;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;

	color: #000000;
}

.range-filter {
	width: 220px;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	line-height: 18px;

	color: #000000;
}

.filter-label {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 19px;
	text-transform: uppercase;

	color: #000000;
}

.range-controls {
	position: relative;

	height: 80px;
	margin-bottom: 10px;
	padding-top: 39px;
	padding-left: 20px;
	padding-right: 20px;

	background-color: #f5f2ec;
	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;

	background: #d7dbdd;
}

.range-controls .bar {
	width: 84%;
	height: 2px;

	background: #71c978;
}

.range-controls .toggle {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;

	position: absolute;

	top: 30px;

	width: 4px;
	height: 4px;

	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
	border-radius: 50%;

	cursor: pointer;  
}

.range-controls .toggle-min {
	left: 20px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	display: inline-block;

	font-size: 17px;
}

.price-controls .min-price {
	width: 95px;
}

.price-controls .max-price {
	width: 125px;

	text-align: right;
	letter-spacing: 1px;
}

.price-controls input {
	width: 95px;
	padding: 8px 10px 10px 14px;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	line-height: 18px;
	text-align: center;

	color: #000000;

	border: none;
	border-radius: 5px;
	background: #f5f2ec;
}

.filter-fieldset-checkbox {
	padding-bottom: 24px;
}

.filter-fieldset-radio {
	margin-top: 17px;
	padding-bottom: 80px;
}

.filter-checkbox-list, .filter-radio-list, .paginator-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.filter-option {
	margin-bottom: 21px;
	padding-left: 34px;
}

.filter-option:last-child {
	margin-bottom: 0;
}

.filter-option .filter-label {
	position: relative;

	display: block;

	cursor: pointer;

	  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox + .filter-label::before {
	content: "";

	position: absolute;
	left: -34px;
	top: -2px;

	width: 24px;
	height: 24px;

	background: url(../img/checkbox-off.svg) no-repeat 0 0;
}

.filter-input-checkbox:checked + .filter-label::after {
	content: "";

	position: absolute;
	left: -34px;
	top: -2px;

	width: 28px;
	height: 24px;

	background: url(../img/checkbox-on.svg) no-repeat 0 0;
}

.filter-input-radio + .filter-label::before {
	content: "";

	position: absolute;
	left: -35px;
	top: -2px;

	width: 25px;
	height: 25px;

	background: url(../img/radio-off.svg) no-repeat 0 0;
}

.filter-input-radio:checked + .filter-label::after {
	content: "";

	position: absolute;
	left: -35px;
	top: -2px;

	width: 25px;
	height: 25px;

	background: url(../img/radio-on.svg) no-repeat 0 0;
}

.filter-button {
	padding: 10px 40px 8px 37px;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;

	color: #000000;
	background: #ffffff;
	border: 1px solid #e4e4e4;
	border-radius: none;
}

.filter-button:hover {           /*это мое, временное решение, т.к. не нашла состояния этой кнопки в стайлгайде*/
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #bec5c9;
}

.filter-button:active{
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #cd3944;
}

.column-right {
	width: 700px;
}

.filter-sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	padding: 7px 19px;
	padding-right: 17px;

	background-color: #f5f2ec;
	border-radius: 2px;	
}

.filter-sorting-title {
	width: 130px;

	margin: 0;
	margin-right: 45px;
}

.filter-sorting-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 354px;

	margin: 0;
	padding: 0;

	list-style: none;
}

.filter-sorting-list-icon {
	width: 43px;
}

.filter-sorting-link {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: underline;
	-webkit-text-decoration-style: dotted;
	        text-decoration-style: dotted;
	-webkit-text-decoration-color: #cd3944;
	        text-decoration-color: #cd3944;

	color: rgba(0, 0, 0, 0.3);
}

.filter-sorting-link.active {
	color: #cd3944;
	text-decoration: none;
}

.filter-sorting-link:active {
	text-decoration: none;

	color: #cd3944;	
}

.filter-sorting-link:hover {
	text-decoration: underline;
	-webkit-text-decoration-style: solid;
	        text-decoration-style: solid;
  -webkit-text-decoration-color: #cd3944;
          text-decoration-color: #cd3944;

	color: rgba(0, 0, 0, 1);	
}

.filter-sorting-link.icon {
	fill: #c4c4c4;
}

.filter-sorting-link.icon.active {
	fill: #EE3643;
}

.filter-sorting-link.icon:hover {
	fill: rgba(0, 0, 0, 1);
}

.filter-sorting-link.icon:active {
	fill: #EE3643;
}

.paginator-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.paginator-item {
	margin-right: 10px;
}

.paginator-item:last-child {
	margin-right: 0;
}

.paginator-link {
	display: block;

	margin: 0;
	padding: 9px 15px 9px 14px;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	
	color: #000000;
	background-color: #ffffff;

	border: 1px solid #e4e4e4;
	border-radius: 3px;
}

.paginator-link-next {
	padding: 9px 30px;
}

.paginator-link.active {
	color: #ffffff;
	background-color: #cd3944;
	border: 1px solid #cd3944;
}

.paginator-link:hover {
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #bec5c9;
}

.paginator-link:active {
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #cd3944;
}	

.description-catalog-wrapper {
	width: 100%;

	background-color: #f2f6f8;
}

.description-catalog {
	padding-top: 65px;
	padding-bottom: 68px;
}

.description-catalog-title {
	margin: 0;
	margin-bottom: 26px;
	padding: 0;
}

.description-catalog-text {
	margin: 0;
}

/*стили для футера*/

.footer {
	font-family: "Cuprum", "Arial", sans-serif;
	background-color: #3a445b;
}

.footer-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	padding-bottom: 49px;
}

.footer-main-column {
	width: 380px;
}

.footer-logo {
	display: inline-block;

	width: 220px;
	height: 68px;
	padding: 20px 41px 25px;
	margin-bottom: 28px;

	background-color: #cd3944;
	-webkit-box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.24);
	        box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.24);
}

.footer-contacts {
	margin: 0;
	padding-left: 3px;
	padding-right: 50px;

	font-size: 18px;
	line-height: 24px;

	color: #ffffff;
}

.footer-nav, .footer-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;

	margin: 0;
	padding: 0;

	list-style: none;
} 

.footer-nav {
	padding-top: 38px;
	padding-bottom: 10px;
}

.footer-nav-item:not(:first-child),
.footer-menu-item:not(:first-child) {
	padding-left: 59px;
}

.footer-nav-link {
	padding-top: 20px;
	padding-bottom: 10px;

	font-size: 18px;
	line-height: 24px;

	color: #ffffff;
}

.footer-menu {
	padding-top: 23px;
	padding-bottom: 10px;
}

.footer-menu-link {
	font-size: 18px;
	line-height: 24px;

	color: #f3d084;
}

.footer-menu-link:hover,
.footer-nav-link:hover {
	text-decoration: underline;
}

.footer-menu-link:active,
.footer-nav-link:active {
	text-decoration: none;
	opacity: 0.5;
}

.footer-social-wrapper {
	width: 100%;

	background-color: #30374a;
}

.footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	padding-top: 37px;
	padding-bottom: 30px;
}

.footer-copyright {
	margin: 0;
	margin-right: 131px;
	padding-right: 10px;

	width: 260px;
}

.socials {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 130px;

	margin-right: 120px;
}

.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	width: 40px;
	height: 40px;

	border-radius: 50%;

	background-color: #282e3c;
}

.social-button:hover,
.social-button:active {
	background-color: #cd3944;
}

.footer-feedback, .footer-developer, .footer-copyright {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;

	color: #ffffff;	
}

.footer-feedback {
	margin: 0;
	margin-right: 50px;

	width: 137px;
}

.footer-developer {
	margin: 0;

	width: 112px;
}

.footer-feedback-link, .footer-developer-link {
	color: #f3d084;	
}

.footer-feedback-link:hover, 
.footer-developer-link:hover {
	text-decoration: underline;	
}

.footer-feedback-link:active, 
.footer-developer-link:active {
	color: #cd3944;
}

/*стили для модальных окон*/
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal {
	position: fixed;
	top: 27%;
	left: 50%;
	z-index: 100;

	display: none;

	color: #000000;
	background-color: #f8f3f0;

	border-top: 7px solid #de5457;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
          box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
}

.modal-show {
	display: block;

	-webkit-animation: bounce 0.6s;
	        animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.write-us {
	width: 620px;
	margin-left: -310px;
}

.modal-close {
	position: absolute;
	top: 9px;
	right: 9px;

	width: 21px;
	height: 21px;

	background: transparent url(../img/icon-close.svg) no-repeat 0 0;
	border: 0;

	cursor: pointer;
}

.write-us-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	padding: 45px 80px 27px;
}

.write-us-item {
	width: 220px;
	margin: 0;
}

.write-us-item-text {
	width: 100%;
	margin-top: 19px;
}

.write-us-label {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;

	color: #000000;	
}

.write-us-input {
	width: 100%;
	margin-top: 5px;
	padding: 8px 14px;
	padding-right: 40px;

	font-family: "PT Sans", "Cuprum", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;

	color: #a8a8a8;
	background-color: #ffffff;

	border: 2px solid #dee2e3;
	border-radius: 3px;
}

.write-us-input-textarea {
	padding-bottom: 12px;
}

.write-us-footer {
	padding: 38px 79px 36px;

	background-color: #f3f3f3;
}

.write-us-btn {
	padding: 10px;
	width: 100%;

	cursor: pointer;
}

/*Модальное окно с картой*/

.modal-map {
	width: 940px;
	height: 446px;
	padding: 0;
	margin-left: -470px;

	background: url(../img/map-background.jpg) no-repeat -130px -256px;
	border: 0;
}

/*Модальное окно "Товар добавлен в корзину"*/

.modal-cart {
	padding: 40px 0 0;

	width: 620px;
	margin-left: -310px;
}

.modal-cart-title {
	position: relative;

	margin: 0;
	padding: 25px 80px 67px 180px;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;

	color: #000000;
}

.modal-cart-title::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 81px;

	width: 66px;
	height: 66px;

	background: url(../img/icon-mark.svg) no-repeat 0 0;
}

.modal-cart-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	padding: 38px 80px;

	background-color: #f1f1f1;
}

.modal-cart-btn {
	width: 220px;
	padding: 10px 24px 10px 20px;
}

.modal-cart-close {
	color: #000000;
	background-color: #ffffff;
}

.modal-cart-close:hover {
	color: rgba(255, 255, 255, 0.5);
	background-color: #cccccc;
}

.modal-cart-close:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #b2b2b2;
}