.container {
	width: 940px;
	margin: 0 auto;
}

.button {
	padding: 12px 24px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;

	color: #ffffff;
	background-color: #ee3643;

	border-radius: 2px;
}

.button:hover {
	background-color: #ae2f39;
}

.button:active {
	background-color: #a02c35;	
}

.promo {
	margin-bottom: 53px;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;

	color: #ffffff;
}

.promo-button {
	position: absolute;
	left: 25px;
	bottom: 22px;
	background-color: rgba(0, 0, 0, 0.1);
}

.promo-button:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.promo-button:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.promo-list {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
	list-style: none;
}

.promo-item {
	padding: 0;
	margin: 0;
	position: relative;
	width: 300px;
	min-height: 123px;
}

.promo .materials {
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #efbe52;
}

.promo .tools {
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #73bae1;
}

.promo .technics {
	margin-bottom: 20px;
	background-color: #c990d5;
}

.promo .sale {
	height: 123px;
	background-color: #a5d691;
}

.promo .delivery {
	background-color: #efbe52;
}

.promo-title {
	padding: 0;
	margin: 0;
	padding-top: 20px;
	padding-left: 22px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;

	color: #ffffff;	
}

.hummer {
	margin-right: 20px;
	position: relative;
}

.hummer .button {
	position: absolute;

	bottom: 25px;
	left: 25px;
}

.slider-title {
	position: absolute;
	top: 23px;
	left: 24px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;

	color: #ffffff;	
}

.slider-text {
	position: absolute;
	top: 59px;
	left: 24px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;

	color: #ffffff;		
}

.slider-controls {
	list-style: none;
}

.hummer img{
	background-color: #99938c;
}

.drill img {
	background-color: #72706e;
}